.md-header {
    background-color: #181818 !important;
    box-shadow: none;
}

.md-header[data-md-state=shadow] {
    box-shadow: none;
}

.md-typeset h1 {
    font-size: 40px;
    color: #181818;
    letter-spacing: -0.04em;
}

.md-typeset h2 {
    font-size: 28px;
    color: #181818;
    letter-spacing: -0.04em;
    font-weight: bold;
}

.md-typeset h3 {
    font-size: 19px;
    color: #181818;
    letter-spacing: -0.04em;
}